Options FollowSymLinks
RewriteEngine On

ErrorDocument 404 http://localhost/php-start/templates/error/404.php

RewriteRule DirectoryIndex . [QSA,L] 
RewriteRule ^policy$ ./?action=policy [QSA,L] 
RewriteRule ^contact$ ./?action=contact [QSA,L] 
RewriteRule ^regulations$ ./?action=regulations [QSA,L] 
RewriteRule ^auth/register$ ./?type=auth&action=register [QSA,L] 
RewriteRule ^auth/login$ ./?type=auth&action=login [QSA,L] 
RewriteRule ^user/logout$ ./?type=user&action=logout [QSA,L] 
RewriteRule ^user/profile$ ./?type=user&action=profile [QSA,L] 
RewriteRule ^user/profile/update$ ./?type=user&action=update [QSA,L] 
RewriteRule ^password/forgot$ ./?type=passwordRecovery&action=forgot [QSA,L] 
RewriteRule ^password/reset$ ./?type=passwordRecovery&action=reset [QSA,L] 
RewriteRule ^test/list$ ./?type=test&action=list [QSA,L] 
RewriteRule ^test/create$ ./?type=test&action=create [QSA,L] 
RewriteRule ^test/store$ ./?type=test&action=store [QSA,L] 
RewriteRule ^test/show/([0-9]+)$ ./?type=test&action=show&id=$1 [QSA,L] 
RewriteRule ^test/delete/([0-9]+)$ ./?type=test&action=delete&id=$1 [QSA,L] 
RewriteRule ^test/edit/([0-9]+)$ ./?type=test&action=edit&id=$1 [QSA,L] 
RewriteRule ^test/update/([0-9]+)$ ./?type=test&action=update&id=$1 [QSA,L] 
