img{
    width: 100%;
}

h2{
    font-size: 20px;
}

/* ===== */

a:hover{
    cursor: pointer;
}

.labels{
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 1px;
}

@media (max-width: 576px) { 
    .medium-img{
        height: 110px;
    }
 }

@media (min-width: 576px) { 
    .medium-img{
        height: 82px;
    }
 }

@media (min-width: 768px) { 
    .medium-img{
        height: 100px;
    }
 }

@media (min-width: 992px) { 
    .medium-img{
        height: 100px;
    }
 }

@media (min-width: 1200px) { 
    .medium-img{
        height: 60px;
    }
 }

@media (min-width: 1400px) {  
    .medium-img{
        height: 70px;
    }
}

.delete{
    position: absolute;
    right: 1.5rem;
    bottom: 1em;
}

a{
    text-decoration: none;
    color: white;
}

a:hover{
    color: white;
}